altgraph==0.17
camelcase==0.2
click==8.0.1
colorama==0.4.4
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
pefile==2021.5.24
Pillow==8.3.1
protobuf==3.17.3
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
python-dotenv==0.19.0
python-http-client==3.3.2
pywin32-ctypes==0.2.0
sendgrid==6.7.1
six==1.16.0
starkbank-ecdsa==1.1.1
Werkzeug==2.0.1
