.contact  {
  margin: 50px;
  h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    //  font-family: "Comfortaa", cursive;
    font-size: 60px;
    font-weight: 700;

    margin-top: 50px;
    margin-right: 150px;
    padding-left: 10px;
    

    position: relative;
    font-size: 5rem;
  }
  h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0px 0px 0 0px;
    background: #55bbff;
    z-index: -1;
    transition: transform .3s ease;
  }

  i{
    font-size: 18px;
  }

  p {
    color: black;
    font-family: "Comfortaa", cursive;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 150px;
    font-size: 20px;
    position: relative;
  }

  p::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  p::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0px 0px 0 0px;
    background: #55bbff;
    z-index: -1;
    transition: transform .3s ease;
  }
  &-form input {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #d1d1d1;
    font-size: 20px;
    border: none;
    height: 30px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ddd;
    width: calc(100% - 20px);
  }
  &-form textarea {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #d1d1d1;
    font-size: 20px;
    border: none;
    height: 100px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    resize: none;
    box-shadow: 0 1px 2px #ddd;
    margin-bottom: 15px;
  }
  button {
    background-color: #0d6efd;
    color: #fff;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 20px;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    transition: all 0.4s ease;
    width: 98%;
  }

  button:hover {
    text-shadow: 1px 1px 2px black;
  }

  button:hover {
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
  }
  @media screen and (max-width: 720px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .col {
      flex: none;
    }
    h1 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      //  font-family: "Comfortaa", cursive;
      font-size: 60px;
      font-weight: 700;
      padding-top: 45px;
      padding-left: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      color: black;
      font-family: "Comfortaa", cursive;
      padding-left: 30px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      padding-bottom: 45px;
    }
  }

}
