.footer {
  color: white;
  background-color: black;
  font-family: "Yanone Kaffeesatz", sans-serif;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 10px;
      width: 60px;
      height: 60px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(47deg)
        brightness(104%) contrast(104%);
    }
  }
}
