<div class='center'>
    <div class='content'>
        <div class='row vert-pad'>
            <div class='left padded'>
                <h1>I'm a student in the National University of San Martin, Argentina</h1>
                <p>
                    I'm currently in the telecommunications engineering career. I have a computer technician title and a B2 English title by the First Certificated Exam.
                </p>
            </div>
            <div class='right padded'>
                <h1>Always learning!</h1>
                <p>
                    I'm always willing to learn new technologies<br> and develop myself expanding my boundaries.
                    
                    Just send me an email if you are interested in working with me <a href="#contacto" class="aqua">clicking here.</a>
                </p>
            </div>
        </div>
    </div>
</div>