<div class='center padded'>
    <div class='content padded'>
        <div class="cards padded">
            <hr>
            <h1>Portfolio</h1>
            
        </div>
        <div class="row">
            <div class="cards card third">
                <h3> Mailer app </h3>
                <p>This app send emails by using Sengrid's API. </p>
                <a class='aqua' target='_blank'href="https://rocky-ravine-46611.herokuapp.com/">Click here.  </a>
            </div>
            <div class="cards card third">
                <h3> Customer manager </h3>
                <p>This app can manage my clients. Made with Tkinter.</p>
                <a class='aqua' href="{{ url_for('static', filename='libreta-clientes.exe') }}">Click here.  </a>
            </div>
            <div class="cards card third">
                <h3> Task manager </h3>
                <p> This app helps managins your to-do's tasks. </p>
                <a class='aqua' href="{{ url_for('static', filename='db.exe') }}">Click here.  </a>
            </div>
        </div>
        <hr>
    </div>
</div>
