<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class='left padded'>
                <h1>
                    That's it! Let's work together :)
                </h1>
                <p>I will give my best to learn and provide value.</p>
            </div>
            <div id="contacto" class='right padded'>
                <form class="contact-form" method='POST' action="{{ url_for('portfolio.mail')}}">
                    <input name='name' placeholder="Name..." required />
                    <input name='email' placeholder="Email..." required type="email" />
                    <textarea placeholder="Message" name="message" required minlength=10></textarea>
                    <button class="btn1 full-width">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>